<main>
  <h2>{{title()}}</h2>

  <p *ngIf="animeList.length === 0">No anime loaded yet.</p>
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Total Episodes</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let anime of animeList()">
        <td>{{anime.id }}</td>
        <td>{{ anime.title }}</td>
        <td>{{ anime.totalEpisodes }}</td>
        <td>{{ anime.status }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="animeList.length === 0">Still no anime loaded yet.</p>
</main>


<router-outlet />
